h2{
    color: rgb(31, 224, 10);
    background-color: rgb(251, 255, 0);
}
/* class */
.h3-h4{
    color: rgb(115, 0, 255);
    background-color: rgb(215, 249, 250);
    font-style: italic;
    padding: 10px;
    margin: 20px;
}

/* id */
/* #id{

} */